<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FixBill2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FixBill2.Properties.Settings>
            <setting name="INDIR" serializeAs="String">
                <value />
            </setting>
            <setting name="OUTDIR" serializeAs="String">
                <value />
            </setting>
            <setting name="DELETE_REASON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REPLACE_SIGN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UNZIP" serializeAs="String">
                <value>False</value>
            </setting>
        </FixBill2.Properties.Settings>
    </userSettings>
</configuration>